{% extends "main.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "blog/index.css"%}">
{% endblock css_link %}
{% block page_title %}Home Page{% endblock page_title %}
{% block body %}
    <section id="homePageGreeting">
        <header>
            <h2 class="greetingTextHeader">Setho's anime blogs</h2>
            <div class="imgProfile">
                <img src="{% static "blog/images/Shinji Ikari 02.jpg"%}" alt="Profile picture">
            </div>
        </header>
        <p class="greetingTextDescription">Hi and welcome to my page. Hier you will find reviews and recommendations of anime I watched. Please be aware that I'm doing this merely as a hobby and only on occation will I update my page with new reviews.</p>
    </section>
    <section class="latest-posts">
        <h2 class="latestPostHeader">My lastest reviews</h2>
        <ul class="individualPostsContainer">
            {% for post in posts  %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>
    {% include "blog/includes/about.html" %}
    <script defer>

        function doBlur() {
            document.body.style.backgroundColor = "rgba(0,0,0,0.5)";

        }
    </script>
{% endblock body %}