{% extends "main.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "blog/individualpost.css"%}">
{% endblock css_link %}
{% block page_title %}Post{% endblock page_title %}
{% block body %}
<section class="summary">
    <h2>{{ individualPost.title }}</h2>
    <article>
        <img src="{{ individualPost.postImage }}" alt="{{ individualPost.slug }}"/>
        <div class="author">
            <address>By {{ individualPost.author }}</address>
            <div>
                <p>Last updated on</p> <time>{{ individualPost.date }}</time>
            </div>
        </div>
    </article>
</section>
<main>
    <p>
        {{ individualPost.content }}
    </p>
</main>

{% endblock body %}