{% extends "main.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "blog/individualpost.css"%}">
{% endblock css_link %}
{% block page_title %}Post{% endblock page_title %}
{% block body %}
<h1 class="title">See your individual post hier.</h1>
<section class="summary">
    <h2>{{ title }}</h2>
    <article>
        <img src="https://i.imgur.com/0boNxjd.jpeg" alt="Post Title"/>
        <div class="author">
            <address>By Setho</address>
            <div>
                <p>Last updated on</p> <time>Marc 7th</time>
            </div>
        </div>
    </article>
</section>
<main>
    <p>
        {% lorem 10 b random %}
    </p>
</main>

{% endblock body %}