.title {
    padding-top: 20px;
    text-align: center;
}

.posts {
    background-color: #242f40ff;
}

.allPostsHeader {
    color: white;
    text-align: center;
    text-decoration: underline;
}
.all-posts {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #568ea3ff;
}

.all-posts .individualPostsContainer {
    list-style-type: none;
}