body {
    background-color: #E4E3E4;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #568ea3ff;
    padding: 10px 0;
    color: white;
    align-items: center;
}

div p {
    display: inline;
}
.summary h2 {
    text-align: center;
}
.summary img {
    width: auto;
    max-height: 300px;
}
main {
    width: 60%;
    margin: 30px auto;
    padding: 15px;
    box-shadow: 10px 5px 5px gray;
    background-color: white;
}