{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "blog/includes/post.css" %}">
{% endblock css_link %}
<li>
    <article>
        <div class="individualPost">
            <a class="postLink" href="">
                <img src="https://static.wikia.nocookie.net/welcometothenhk/images/8/80/-animepaper.net-vector-standard-anime-welcome-to-nhk-vecto-satou-tatsuhiro-39608-moutonzare-preview-d0ae7e2c.jpg/revision/latest/scale-to-width-down/250?cb=20130414131308" alt="Welcome to the NHK">
                <div class="postContent">
                    <h3 class="contentTitle">My review on: Welcome to the NHK</h3>
                    <p class="reviewTitle">Is Satou Tatsuhiro (佐藤達広) a worthless human being?</p>
                    <p class="snippet">Is Satou a worthless human being? Is Satou a repeated and indulgent failure? Absolutely. Can he do better? Maybe. In this review, I will be diving into the world of "Welcome to the NHK" and going through what make this series so special.</p>
                </div>
            </a>
        </div>
    </article>
</li>