{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "blog/includes/post.css" %}">
{% endblock css_link %}
<li>
    <article>
        <div class="individualPost">
            <a class="postLink" href="{% url "individualPost-page"  post.slug %}">
                <div class="postContent">
                    <img src="{{ post.previewImage }}" alt="{{ post.slug}}">
                    <h3 class="contentTitle">{{ post.previewTitle }}</h3>
                    <p class="reviewTitle">{{ post.title }}</p>
                    <p class="snippet">{{ post.excerpt }}</p>
                </div>
            </a>
        </div>
    </article>
</li>