{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "blog/images/favicon.ico"%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css_link %}{% endblock css_link %}
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body>
    <header>
        <nav id="navbar" class="navbar">
            <a class="index" href="{% url "home-page" %}"><i class="fa fa-home"> Home</i></a>
            <a class="posts" href="{% url "allPosts-page" %}">All Posts</a>
        </nav>
    </header>
    <div id="main_body" class="main_body">
        {% block body %}{% endblock body %}
    </div>
    <script>
        var navbar = document.getElementById("navbar");
        var bool = 0;
        var oldscrollY = this.scrollY;
        window.onscroll = function(e) {
            if(this.scrollY > oldscrollY) {
                if(this.scrollY >= 200) {
                    navbar.style.height = "0";
                }
                console.log("Down");
            } else {
                navbar.style.height = "71px";
                console.log("Up");
            }
            oldscrollY = this.scrollY;
          }
    </script>
</body>
</html>
