html, body {
  top: 0;
  margin: 0 !important;
  min-width: 860px;
  width: auto !important;
}
/* --flame: #cf5c36ff;
--gunmetal: #242f40ff;
--blue-munsell: #568ea3ff;
--middle-blue: #68c3d4ff; */
.navbar {
  margin-top: 0px;
  background-color: #cf5c36ff;
  height: 71px;
  z-index: 1; /* Die Ebene auf der Z-Achse.*/
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: .7s;
}
.index, .posts {
  text-decoration: none;
  float: left;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 24px 30px;
  transition: 0.4s;
}
.index:hover, .posts:hover {
  background-color: #242f40ff;
  cursor: pointer;
}
.main_body {
  margin-top: 71px;
}
/*Style for the sidebar*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 5px grey;
    border-radius: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 20px 2px 20px 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }